/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
* {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
html,
body {
  font-family: 'Ubuntu', sans-serif;
}
h1,
h2,
h3,
h4,
h5 {
  font-family: 'Ubuntu', cursive;
}
h1 {
  font-size: 6.4rem;
}
h2 {
  font-size: 6.4rem;
}
h4 {
  font-size: 2.5rem;
}
p {
  font-size: 3rem;
}
img {
  max-width: 100%;
  height: auto;
}
body {
  background-color: #343C47;
}
nav {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  margin: 15% 10% 0 0;
}
nav a {
  color: #FFFFFF;
  text-decoration: none;
  font-size: 2rem;
}
.container-cta {
  display: flex;
  height: 100vh;
  overflow-y: hidden;
}
.container-cta .content-signup {
  background-color: #1EA7FC;
  width: 40%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}
.container-cta .content-signup .form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 60%;
  margin: 15% 0 0 0;
}
.container-cta .content-signup .form h1 {
  color: #FFFFFF;
  font-size: 6.4rem;
  margin-bottom: 15%;
}
.container-cta .content-signup .form form {
  width: 100%;
}
.container-cta .content-signup .form form input {
  width: 100%;
  padding: 4% 20% 4% 3%;
  border-radius: 3px 3px 0 0;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 1px solid #343C47;
}
.container-cta .content-signup .form form p {
  font-size: 1rem;
  margin: 1% 0 3% 4%;
}
.container-cta .content-signup .form form a {
  font-size: 1.2rem;
  text-decoration: none;
  color: #AE0725;
}
.container-cta .content-signup .form form .last-input {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}
.container-cta .content-signup .button {
  background-color: #CCCCCC;
  border-radius: 3px;
  padding: 3% 7%;
  margin: 10% 0 0 0;
}
.container-cta .content-signup .button a {
  color: #FFFFFF;
  text-decoration: none;
}
.container-cta .content-cta {
  width: 60%;
  display: flex;
  justify-content: flex-end;
}
.container-cta .content-cta .right-side-cta {
  width: 60%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  margin-right: 2%;
}
.container-cta .content-cta .right-side-cta h2 {
  color: #FFFFFF;
  text-align: center;
  padding: 25% 0 10% 0;
}
.container-cta .content-cta .right-side-cta .logo-cta {
  width: 100%;
  display: flex;
  justify-content: center;
}
.container {
  background-color: #343C47;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}
.container .content-one {
  width: 60%;
  color: #FFFFFF;
}
.container .content-one .about {
  margin: 18.5rem 15% 5% 20%;
}
.container .content-one .about h1 {
  margin-bottom: 5%;
}
.container .content-one .about .button {
  background-color: dodgerblue;
  padding: 1.2rem 0 1.4rem;
  border-radius: 3px;
  width: 10.5rem;
  height: 3.8rem;
  font-size: 1.3rem;
  text-align: center;
  margin: 10% 0 0 15%;
}
.container .content-two {
  width: 40%;
  color: #FFFFFF;
}
.container .content-two .title-section {
  margin: 15rem 0 0 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
.container .content-two .title-section h2 {
  text-align: center;
  line-height: 6rem;
  margin-bottom: 8rem;
}
.container .absolute-logo {
  width: 39%;
}
.container .absolute-logo .logo {
  margin: 0 2.4rem 0 0;
}
.container .absolute-logo .logo img {
  max-width: 47rem;
  width: 45%;
  max-height: 54rem;
  position: absolute;
  bottom: 0;
  right: 2%;
}
