/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
* {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
html,
body {
  font-family: 'Ubuntu', sans-serif;
  color: black ;
  background-color: #343C47;
}
h1,
h2,
h3,
h4,
h5 {
  font-family: 'Ubuntu', sans-serif;
  color: black;
}
h2 {
  font-size: 3.2rem;
}
h3 {
  font-size: 2.8rem;
}
p {
  font-size: 1.6rem;
  line-height: 1.4;
}
.site-container {
  display: flex;
  width: 100%;
  height: 100vh;
}
.site-container .left-container {
  display: flex;
  flex-wrap: wrap;
  height: 100vh;
  width: 40%;
  background-color: dodgerblue;
}
.site-container .left-container nav {
  width: 90%;
  margin-top: 10vh;
  text-align: right;
  font-size: 3rem;
}
.site-container .left-container nav a {
  color: white;
}
@media (max-width: 500px) {
  .site-container .left-container {
    width: 100%;
  }
}
.site-container .left-container .sign-up-container {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
}
.site-container .left-container .sign-up-container input {
  padding: 2%;
  margin: 2%;
  width: 40%;
}
.site-container .left-container .sign-up-container h2 {
  font-size: 4rem;
  color: white;
}
.site-container .left-container .sign-up-container button {
  width: 15%;
  color: white;
  padding: 1%;
  border-radius: 4px;
  border-color: #CCCCCC;
  background-color: #CCCCCC;
}
.site-container .right-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
  width: 60%;
  background-color: #343C47;
}
@media (max-width: 500px) {
  .site-container .right-container {
    display: none;
  }
}
.site-container .right-container .title {
  display: flex;
  width: 100%;
  padding: 6%;
  justify-content: center;
  align-items: center;
}
.site-container .right-container .title h1 {
  color: white;
  text-align: center;
  font-size: 5rem;
}
.site-container .right-container img {
  max-width: 100%;
  height: auto;
}
