.container {
    display: flex;
    background-color: #343C47;
    width: 100%;
    display: flex;
    flex-wrap: wrap;

    .content-one {
        width: 60%;
        color: #FFFFFF;
    
        .about {
            margin: 18.5rem 15% 5% 20%;
            
            h1 {
                margin-bottom: 5%;
            }

            .button {
                background-color: dodgerblue;
                padding: 1.2rem 0 1.4rem;
                border-radius: 3px;
                width: 10.5rem;
                height: 3.8rem;
                font-size: 1.3rem;
                text-align: center;
                margin: 10% 0 0 15%;
            }
        }
    }

    .content-two {
        width: 40%;
        color: #FFFFFF;

        .title-section {
            margin: 15rem 0 0 0;
            display: flex;
            align-items: center;
            justify-content: center;

            h2 {
                text-align: center;
                line-height: 6rem;
                margin-bottom: 8rem;
            }
        }
    }

    .absolute-logo {
        width: 39%;
        
        .logo {
            margin: 0 2.4rem 0 0;
        }

        .logo img {
            max-width: 47rem;
            width: 45%;
            max-height: 54rem;
            position: absolute;
            bottom: 0;
            right: 2%;

            
    
        }
    }
}







