body{
    display: flex;
    align-items: center;
    justify-content: center;

    .left-container{
        height: 100vh;
        width: 40%;
        background-color:dodgerblue;
    }
    
    .right-container{
        height: 100vh;
        width: 60%;
        background-color:#343C47;
    }
}


