.container-cta {
    display: flex;
    height: 100vh;
    overflow-y: hidden;

    .content-signup {
        background-color: @primary;
        width: 40%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;

        @media @tablet {
            width: 80%;
            margin-left: 10%;
            justify-content: space-between;
        }
        
        nav {
            display: flex;
            justify-content: flex-end;
            width: 100%;
            margin: 15% 10% 0 0;
        
            a {
                color: @white;
                text-decoration: none;
                font-size: 2rem;

                &:hover {
                    color: @shiraz;
                }
            }
        }
        .form {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            width: 60%;
            margin: 15% 0 0 0;

            @media @tablet {
                width: 60%;
                margin-top: 20%;
            }

            h1 {
                color: @white;
                font-size: 6.4rem;
                margin-bottom: 15%;
            }

            form {
                width: 100%;


                input {
                    width: 100%;
                    padding: 4% 0% 4% 3%;
                    border-radius: 3px 3px 0 0;
                    border-top: none;
                    border-left: none;
                    border-right: none;
                    border-bottom: 1px solid @bright-grey;

                    @media @tablet {
                        padding: 6% 0% 6% 5%;
                    }
                }

                p {
                    font-size: 1rem;
                    margin: 1% 0 3% 4%;
                    color: @bright-grey;

                    @media @tablet {
                        margin: 2% 0 6% 4%;
                    }
                }

                a {
                    font-size: 1.2rem;
                    text-decoration: none;
                    color: @shiraz;

                    &:hover {
                        text-decoration: underline;
                    }
                }

                .last-input {
                    display: flex;
                    flex-direction: row;
                    justify-content: space-between;
                    width: 100%;
                }
            }
        }
        
        .button {
            background-color: #CCCCCC;
            border-radius: 3px;
            padding: 3% 7%;
            margin: 10% 0 0 0;
            
            &:hover {
                    background-color: @white;
                    border: 1px solid @bright-grey;

                    a {
                        color: @bright-grey;
                    }
                }

            a {
                color: @white;
                text-decoration: none;
            }
        }

        .second-logo {
            width: 125%;
            display: none;
            margin: -13% 5% 0 0;

            @media @tablet {
                display: flex;
                justify-content: flex-end;
        

                img {
                    width: 35%
                }
            }
        }
    }

    .content-cta {
        width: 60%;
        display: flex;
        justify-content: flex-end;

        @media @tablet {
            display: none;
            
        }

        .right-side-cta {
            width: 60%;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-between;
            margin-right: 2%;

            h2 {
                color: @white;
                text-align: center;
                padding: 25% 0 10% 0;
            }

            .logo-cta {
                width: 100%;
                display: flex;
                justify-content: center;
            }
        }
    }
}
